<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
    </style>
    <script src='jquery_1.4.4.js'></script>
    <script src='compiler.js'></script>
  </head>
  <body>
    <p>
      Use jQuery from advanced compiled code with:
      <pre>goog.require('externs.jQuery');</pre>
    </p>
    TEST RESULT:
    <span class='jqtest'>
      This will be hidden by jQuery.  Fail if you see this.
    </span>
    <script type='text/javascript'>
      //<![CDATA[
        jQueryTest();
      //]]>
    </script>
  </body>
</html>
