<% 
all_files = [
  expand_path('../scaffold/config.ru'),
  expand_path('../scaffold/compiler.js.erb'),
  expand_path('../scaffold/index.erb'),
  expand_path('../scaffold/hello.erb'),
  expand_path('../scaffold/hello.js')
]
config_files = all_files[0..0]

def copy(files)
  files.each do |file|
    File.open File.basename(file), 'w' do |f|
      f.write File.read file
    end
  end
end

def status(files)
  status = :good
  files.each do |file|
    if File.exist? File.basename(file)
      dest = File.read File.basename(file)
      source = File.read file
      return :conflict if dest != source
    else
      status = :incomplete
    end
  end
  return status
end

# The postback pattern for Closure Script
if post?
  if params['action'] == 'config'
    copy config_files if status(config_files) == :incomplete
    response.redirect path
  elsif params['action'] == 'all'
    copy all_files if status(all_files) == :incomplete
    response.redirect path
  end
end

-%><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Closure</title>
  </head>
  <body>
    <h1>Welcome to Closure</h1>
    
    <dl>
    <dt>Server running in:</dt>
    <dd><%=h Dir.getwd %></dd>
    </dl>
    
    I couldn't find config.ru when you started the server.<br />
    Would you like me to write the scaffolding?

    <form action='?action=config' method="post">
      <input type="submit" value="Write only config.ru"
        <%= 'disabled=disabled' if status(config_files) != :incomplete %> 
      />
      <% if status(config_files) == :good %>
        File has been written.  <span style="color:red">Please restart the server.</span>
      <% elsif status(config_files) == :incomplete %>
        Install only config.ru.
      <% else %>
        ERROR: Existing config.ru prevents this from working.
      <% end %>
    </form>
    
    <form action='?action=all' method="post">
      <input type="submit" value="Write complete project"
        <%= 'disabled=disabled' if status(all_files) != :incomplete %> 
      />
      <% if status(all_files) == :good %>
        Files have been written.  Browse them with your favorite editor.
      <% elsif status(all_files) == :incomplete %>
        Install a small project that says hello to the world.
      <% else %>
        ERROR: Existing files prevent this from working.
      <% end %>
    </form>
    
  </body>
</html>
