<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
      select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
    </style>
    <meta content='authenticity_token' name='csrf-param'>
    <meta content='cf50faa3fe97702ca1ael=?' name='csrf-token'>
    <script src='<%= goog.base_js %>'></script>
    <script type='text/javascript'>
      //<![CDATA[
        goog.require('rails.ujs');
      //]]>
    </script>
  </head>
  <body>
    <h1>Closure on Rails 3</h1>

    <p>
      These examples demonstrate how to implement<br />
      the unobtrusive techniques expected by Rails 3.
    </p>

    <ul>
      <li>
        <a data-confirm='Are you sure?' href='?'>a data-confirm</a>
      </li>
      <li>
        <a data-remote='true' href='?'>a data-remote</a>
      </li>
      <li>
        <a data-method='DELETE' href='?'>a data-method</a>
      </li>
      <li>
        <a data-confirm='Seriously?' data-remote='true' href='?'>a data-confirm data-remote</a>
      </li>
      <li>
        <form action='?' data-remote='true' method='post'>
          <input class='text' name='name' type='text'>
          <input class='button' type='submit' value='Send'>
        </form>
      </li>
    </ul>
  </body>
</html>
