!!!
%html
  %head
    %title Googlyscript
    %link(rel="shortcut icon" href="/favicon.ico")
  %body
    %h1 Googlyscript
    %ul
      %li
        %a(href='/docs/googly') Googlyscript Docs (YARD)
      %li
        %a(href='/goog/demos/index') Google Demos
      %li
        %a(href='/googly/test') Compiler Test
      %li
        %a(href='/googly/deps.js') Alternate deps
    