<!DOCTYPE html>
<html>
  <body>
    <h1>Closure Script</h1>
    <ul>
      <li>
        <a href='/demos/index'>Closure Script Demos</a>
      </li>
      <li>
        <a href='/docs/closure'>Closure Script Docs</a>
        <a href='/docs/closure/frames'>(frames)</a>
      </li>

      <li>
        <a href='/goog/demos/index'>Closure Library Demos</a>
      </li>
    </ul>
  </body>
</html>
