<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Welcome to Closure</title>
    <style type="text/css" media="screen">
      html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
      button,input,optgroup,select,textarea {font-family: sans-serif; font-size: inherit;}
    </style>
  </head>
  <body>

    <h1>Closure Script</h1>

    <%= render 'git', :git_name => 'Closure Library', :git_path => 'closure-library',
        :git_url => 'https://anon:anon@github.com/google/closure-library.git' %>

    <p>
      Only the documentation will work until Closure Library is downloaded.
      <br />
      Documentation requires kramdown gem to be installed.
      <br />
      You may need to manually download Closure Library if git fails.
    </p>

    <ul>
      <li>
        <a href='docs/index'>Closure Script Documentation</a>
      </li>
      <li>
        <a href='closure-library/all_tests'>Closure Library Tests</a>
      </li>
      <li>
        <a href='closure-library/closure/goog/demos/index'>Closure Library Demos</a>
      </li>
      <li>
        <a href='hello/index'>Hello Soy - Raw</a>
      </li>
      <li>
        <a href='hello/index?build'>Hello Soy - Build</a>
      </li>
      <li>
        <a href='hello/index?debug'>Hello Soy - Debug</a>
      </li>
      <li>
        <a href='modules/index'>Modules - Raw</a>
      </li>
      <li>
        <a href='modules/index?build'>Modules - Build</a>
      </li>
      <li>
        <a href='modules/index?debug'>Modules - Debug</a>
      </li>
    </ul>

  </body>
</html>
