<!DOCTYPE html>
<html>
  <body>
    <h1>Closure Script</h1>
    <ul>
      <li>
        <a href='/demos/index'>Closure Script Demos</a>
      </li>
      <li>
        <a href='/goog/demos/index'>Closure Library Demos</a>
      </li>
      <li>
        <a href='/scaffold/index'>Scaffold Index</a>
      </li>
      <li>
        <a href='/docs/index'>Closure Script Docs</a>
      </li>
    </ul>
  </body>
</html>
