!!!
%html
  %head
    %title Googlyscript Development Home
    %link(rel="shortcut icon" href="/favicon.ico")
  %body
    %h1 Googlyscript
    %ul
      %li
        %a(href='/docs/googly') Googlyscript Docs (YARD)
      %li
        %a(href='/goog/demos/index') Closure Library Demos
      %li
        %a(href='/demos/index') Googly Demos
