!!!
%html
  %head
    %title Closure Script Development Home
    %link(rel="shortcut icon" href="/favicon.ico")
  %body
    %h1 Closure Script
    %ul
      %li
        %a(href='/demos/index') Closure Script Demos
      %li
        %a(href='/docs/closure') Closure Script Docs (YARD)
      %li
        %a(href='/goog/demos/index') Closure Library Demos
