!!!
%html
  %head
    %script{:src => "compile.js?#{query_string}"}
  %body
    - if params.has_key? 'build'
      %p (build mode)
    - else  
      %p (require mode)
    :javascript
      run_test();
    