!!!
%html
  %head
    - if params.has_key? 'build'
      %script{:src => 'compile.js'}
    - else  
      %script{:src => goog.base_js}
      :javascript
        goog.require('googly.demos.compiler');
  %body
    - if params.has_key? 'build'
      %p (build mode)
    - else  
      %p (require mode)
    :javascript
      run_test();
    