!!!
%html
  %head
    %script{:src => 'externs_jquery.js'}
    - if params.has_key? 'build'
      %script{:src => 'externs.js'}
    - else  
      %script{:src => goog.base_js}
      :javascript
        goog.require('googly.jquerytest');
    
  %body
    .jqtest
      Should not see this.
    :javascript
      run_test();
