!!!
%html
  %head
    %script{:src => goog.base_js}
    :javascript
      goog.require('googly.demos.soy.helloworld');
  %body
    :javascript
      // Exercise the .helloWorld template
      document.write(googly.demos.soy.helloworld.helloWorld());
      // Exercise the .helloName template
      document.write('<hr>' + googly.demos.soy.helloworld.helloName({name: 'Ana'}));
      // Exercise the .helloNames template
      document.write('<hr>' + googly.demos.soy.helloworld.helloNames(
          {name: 'Ana', additionalNames: ['Bob', 'Cid', 'Dee']}));
