<!DOCTYPE html>
<html>
  <head>
    <title>Closure Script Demos</title>
  </head>
  <body>
    <h1>Closure Script Demos</h1>
    <ul>
      <li>
        <a href='googly'>Raw Test</a>
      </li>
      <li>
        <a href='googly?build'>Build Test</a>
      </li>
      <li>
        <a href='googly?debug'>Debug Test</a>
      </li>
      <li>
        <a href='deps.js'>Alternate deps</a>
      </li>
      <li>
        <a href='helloworld'>Soy helloworld</a>
      </li>
      <li>
        <a href='rails_ujs'>Rails unobtrusive javascript</a>
      </li>
    </ul>
  </body>
</html>
