!!!
%html
  %head
    %title Googlyscript Demos
  %body
    %h1 Googlyscript
    %ul
      %li
        %a(href='compiler') Require Test
      %li
        %a(href='compiler?build') Compiler Test
      %li
        %a(href='deps.js') Alternate deps
      %li
        %a(href='helloworld') Soy helloworld
      %li
        %a(href='rails_ujs') Rails unobtrusive javascript
