!!!
%html
  %head
    %title Closure Script Demos
  %body
    %h1 Closure Script Demos
    %ul
      %li
        %a(href='compiler') Require Test
      %li
        %a(href='compiler?build') Compiler Test
      %li
        %a(href='deps.js') Alternate deps
      %li
        %a(href='helloworld') Soy helloworld
      %li
        %a(href='rails_ujs') Rails unobtrusive javascript
      %li
        %a(href='externs') Experimental goog.provide() in externs - require
      %li
        %a(href='externs?build') Experimental goog.provide() in externs - build
