!!!
%html
  %head
    %meta(name="csrf-param" content="authenticity_token")
    %meta(name="csrf-token" content="cf50faa3fe97702ca1ae&lt;=?")
    %script{:src => goog.base_js}
    :javascript
      goog.require('rails.ujs');
  %body
    %ul
      %li
        %a(href="?" data-confirm="Are you sure?")a data-confirm
      %li
        %a(href="?" data-remote="true")a data-remote
      %li
        %a(href="?" data-method="DELETE")a data-method
      %li
        %a(href="?" data-confirm="Seriously?" data-remote="true")a data-confirm data-remote
      %li
        %form(action = "?" method = "post" data-remote="true")
          %fieldset
            %label{:for => "name"} Name:
            %input{:type => "text", :name => "name", :class => "text"}
            %input{:type => "submit", :value => "Send", :class => "button"}
