<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      html {font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
      button,input,optgroup,select,textarea {font-family: sans-serif; font-size: inherit;}
    </style>
  </head>
  <body>
    <p>
      Thanks to the <a href="http://plovr.com/">plovr</a> project.
      This is one of their
      <a href="http://code.google.com/p/plovr/source/browse/#hg%2Ftestdata%2Fmodules">tests</a>.
    </p>
    <div id="content"></div>
    <script src='compiler.js?<%=query_string%>'></script>
  </body>
</html>
