<!DOCTYPE html>
<html>
  <head>
    <title>Test page for module loading</title>
  </head>
  <body>
    <div id="content"></div>
    <script src='compiler.js?<%=query_string%>'></script>
  </body>
</html>
