<!DOCTYPE html>
<html>
  <head>
    <script src='compiler.js?<%= query_string %>'></script>
  </head>
  <body>
    <script type='text/javascript'>
      hello('world');
    </script>
  </body>
</html>
