<!DOCTYPE html>
<html>
  <body>
    <h1>Closure Script Scaffold</h1>
    <ul>
      <li>
        <a href='hello'>Raw Test</a>
      </li>
      <li>
        <a href='hello?build'>Build Test</a>
      </li>
      <li>
        <a href='hello?debug'>Debug Test</a>
      </li>
    </ul>
  </body>
</html>
