<!DOCTYPE html>
<html>
  <body>

    <h1>index.erb</h1>
    
    <%= render 'svn', :svn_name => 'Closure Library', :svn_path => 'closure-library',
        :svn_url => 'http://closure-library.googlecode.com/svn/trunk/' %>

    <p>
      This scaffold has been installed with some examples to get you started.<br />
      Only the documentation will work until Closure Library is downloaded.<br />
      You may need to manually download Closure Library if subversion fails.<br />
    </p>

    <ul>
      <li>
        <a href='/docs/index'>Closure Script Documentation</a>
      </li>
      <li>
        <a href='/closure-library/all_tests'>Closure Library Tests</a>
      </li>
      <li>
        <a href='/closure-library/closure/goog/demos/index'>Closure Library Demos</a>
      </li>
      <li>
        <a href='hello/hello'>Hello World - Raw</a>
      </li>
      <li>
        <a href='hello/hello?build'>Hello World - Build</a>
      </li>
      <li>
        <a href='hello/hello?debug'>Hello World - Debug</a>
      </li>
    </ul>
  </body>
</html>
