<!DOCTYPE html>
<html>
  <body>
    <h1>Index</h1>
    <ul>
      <li>
        <a href='hello'>Hello World - Raw</a>
      </li>
      <li>
        <a href='hello?build'>Hello World - Build</a>
      </li>
      <li>
        <a href='hello?debug'>Hello World - Debug</a>
      </li>
      <li>
        <a href='/docs/index'>Closure Script Documentation</a>
      </li>
      <li>
        <a href='/goog/demos/index'>Closure Library Demos</a>
      </li>
    </ul>
  </body>
</html>
