<% 
require 'fileutils'

source_dir = File.expand_path File.dirname(__FILE__)
dest_dir = Dir.getwd
begin
  Dir.chdir source_dir 
  all_files = Dir.glob '**/*.*'
ensure
  Dir.chdir dest_dir
end
all_files -= %w{
  welcome.erb
  hello/compiler.map
  hello/compiler.debug
  hello/compiler.build
}

status = :good
all_files.each do |file|
  if File.exist? File.join dest_dir, file
    dest = File.read File.join dest_dir, file
    source = File.read File.join source_dir, file
    return :conflict if dest != source
  else
    status = :incomplete
  end
end

if post? and status == :incomplete
  all_files.each do |file|
    FileUtils.mkdir_p File.dirname File.join dest_dir, file
    File.open(File.join(dest_dir, file), 'w') do |f|
      f.write File.read File.join source_dir, file
    end
  end
  require 'svn'
  Closure::Svn['closure-library', 'http://closure-library.googlecode.com/svn/trunk/'].update
  response.redirect path
end

if get? -%>
<!DOCTYPE html>
<html>
  <head>
    <meta name="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Closure</title>
  </head>
  <body>
    <h1>Welcome to Closure</h1>
    
    <dl>
    <dt>Running in:</dt>
    <dd><%=h dest_dir %></dd>
    </dl>
    
    <% if status == :incomplete %>
      <form action='?' method="post">
        Prepare this folder?
        <input type="submit" value="Write Scaffolding" />
      </form>
    <% else %>
      <span style="color:red">ERROR:</span>
      Existing files prevent scaffolding install.
    <% end %>
    
  </body>
</html>
<% end -%>
