<!DOCTYPE html>
<html>
  <head>
    <title>Closure Script Documentation</title>
    <style type="text/css" media="screen">
      body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
      pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
      pre{padding:5px 12px;margin-top:4px;border:1px solid #eef;background:#f5f5ff;}
      #gems{margin-left:15px;padding:0 20px 20px 20px;float:right;border:1px solid #eef;background:#f5f5ff;}
    </style>

  </head>
  <body>
    <% if File.exist? expand_path "closure/frames.html" -%>
      <div id="gems">
        <h2>Docs</h2>
        <% Dir.glob(expand_path '*').sort.each do |gem_name|
           next unless File.exist? "#{gem_name}/frames.html"
           gem_name = File.basename gem_name %>
           <a href="/docs/<%= gem_name %>/frames"><%= gem_name %></a><br />
        <% end -%>
      </div>
    <% end -%>
    <%= render 'SCRIPT' %>
  </body>
</html>
